# Neon PostgreSQL connection string
# Get yours at: https://neon.tech → Create Project → Copy Connection String
DATABASE_URL="postgresql://neondb_owner:npg_g3WEoeJ1kwIU@ep-old-star-ailqkrm8-pooler.c-4.us-east-1.aws.neon.tech/book-ur-seat?sslmode=require&channel_binding=require"
# JWT Secret — change this to a random string in production
JWT_SECRET="book-ur-seat-super-secret-jwt-key-tharaka-2026"
# Next.js
NEXTAUTH_URL="http://localhost:3000"
