PORT=5000
# Add your local MongoDB URI or Atlas Cluster URI below
MONGO_URI=mongodb://127.0.0.1:27017/bus-book-ur-seat
JWT_SECRET=bus_book_ur_seat_jwt_secret_key_2024
FRONTEND_URL=http://localhost:5173
